<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.web.main.mapper.FansMapper">

    <select id="getFollowList" resultType="com.video.model.entity.UserInfo">
        select u.uid,
               u.nickname,
               u.description,
               u.avatar,
               u.status,
               IF(EXISTS (SELECT 1
                          FROM follow f2
                          WHERE f2.follower_id = f.followee_id
                            AND f2.followee_id = f.follower_id), 1, 0) AS role
        from follow f
                 left join user u on f.followee_id = u.uid
        where f.follower_id = #{query.followerId}
    </select>
    <select id="getFansList" resultType="com.video.model.entity.UserInfo">
        select u.uid,
               u.nickname,
               u.description,
               u.avatar,
               u.status,
               IF(EXISTS (SELECT 1
                          FROM follow f2
                          WHERE f2.follower_id = f.followee_id
                            AND f2.followee_id = f.follower_id), 1, 0) AS role
        from follow f
                 left join user u on f.follower_id = u.uid
        where f.followee_id = #{query.followeeId}
    </select>
</mapper>